<p><h4> <%= @chatroom.name %> </h4>
 id: <%= @chatroom.id%>
</p>

<div data-behavior="messages" data-chatroom-id="<%= @chatroom.id%>">
	<% @messages.each do |message| %>
		<%= render message %>
	<%end %>
</div>
 <%= simple_form_for [@chatroom, Message.new], html: { class: "form-inline" }, remote: true, format: :js do |f| %>
 <%= f.input :body, label: false,autofocus: true, class: "form-control" %>
 <%= f.button :submit,"Send" %>
 <%end%>
