<nav class="navbar fixed-top">
    <div class="navbar-header">
      <%= link_to("Guff Chautari", root_path , class: "navbar-brand") %>
    </div>
<!--     <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Page 1</a></li>
      <li><a href="#">Page 2</a></li>
    </ul> -->
    <ul class="nav navbar-nav navbar-right">
      <% if user_signed_in? %>
        <li class="nav-item dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#"><%= current_user.username %>
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
              <li> <%= link_to "Edit Profile", edit_user_registration_path %> </li>
             <li><%= link_to "Sign Out",destroy_user_session_path, method: :delete %></li>
          </ul>
        </li>
      <% else %>      
       <li class="nav-item"><%= link_to "Sign Up",new_user_registration_path %></li>
       <li class="nav-item"><%= link_to "Login",new_user_session_path %></li>
      <% end %>
    </ul>
</nav>
