<!DOCTYPE html>
<html>
  <head>
    <title>Guffchautari</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
    <%= render partial: 'layouts/navbar' %>
  </header>
    <div class="container" style="margin-top: 3rem;">
      <div class="row">
        <div class="col-sm-2">
          <% if user_signed_in? %>
            <h5> Chatrooms </h5>
            <ul>
              <% current_user.chatrooms.each do |chatroom| %>
                <li><%= link_to chatroom.name, chatroom, data: {behavior: "chatroom-link", chatroom_id: chatroom.id } %></li>
              <%end%>

            </ul>
          <%end %>
        </div>
        <div class="col-sm-8">
          <%= yield %>
        </div>
        <div class="col-sm-2">
          </div>
      </div>
    </div>
    </body>
</html>
